* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width:1300px; */
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: sticky;
  height: 80px;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width: 100%;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 40px;
}
a {
  text-decoration: none;
  color: #555;
  font-weight: 600;
}
.cart {
  width: 80%;
  /* border: 2px solid black; */
  margin-left: 150px;
  margin-top: 40px;
  /* display: flex; */
}
.cart > h2 {
  text-align: center;
}
ul li {
  list-style: none;
}
.card {
  border: 2px solid grey;
  /* flex-basis: 30%; */
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  margin-top: 40px;
}
.card > .pro_Image {
  width: 40%;
  /* border-radius: 100%; */
}
.pro_Image > img {
  width: 30%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  width: 50px;
  height: 30px;
  text-align: center;
}
input[type="submit"] #add,
input [type="submit"]#decrease {
  width: 30px;
  height: 30px;
}
